body, div, ul, li, a, p, img, h2, b, span {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font: 12px/1.5 "微软雅黑"
}

div {
    width: 1227px;
    height: 460px;
    background-color: #d7f3ff;
    position: relative;
}

ul {
    background-color: #546066;
    width: 235px;
    height: 420px;
    padding: 20px 0;
}

li {
    position: relative;
    padding-left: 30px;
    color: #ffffff;
    text-align: left;
    display: block;
    height: 42px;
    line-height: 42px
}

li:hover {
    background-color: orange
}

/*li:hover span{display: block}*/
li i {
    margin-top: 13px;
    margin-right: 27px;
    float: right;
    background: url(./images/zxcvb.png) no-repeat;
    display: inline-block;
    width: 10px;
    height: 14px;
}

.box1:hover .eam1 {
    display: block
}

.box2:hover .eam2 {
    display: block
}

.box3:hover .eam3 {
    display: block
}

.box4:hover .eam4 {
    display: block
}

.box5:hover .eam5 {
    display: block
}

.box6:hover .eam6 {
    display: block
}

.box7:hover .eam7 {
    display: block
}

.box8:hover .eam8 {
    display: block
}

.box9:hover .eam9 {
    display: block
}

.box10:hover .eam10 {
    display: block
}

.eam1 {
    position: absolute;
    left: 235px;
    width: 583px;
    height: 458px;
    top: -20px;
    background-color: #ffffff;;
    display: none;
    border: 1px solid #e0e0e0
}

.eam2 {
    position: absolute;
    left: 235px;
    width: 314px;
    height: 458px;
    top: -62px;
    background-color: #ffffff;;
    display: none;
    border: 1px solid #e0e0e0
}

.eam3 {
    position: absolute;
    left: 235px;
    width: 874px;
    height: 458px;
    top: -104px;
    background-color: #ffffff;;
    display: none;
    border: 1px solid #e0e0e0
}

.eam4 {
    position: absolute;
    left: 235px;
    width: 874px;
    height: 458px;
    top: -146px;
    background-color: #ffffff;;
    display: none;
    border: 1px solid #e0e0e0
}

.eam5 {
    position: absolute;
    left: 235px;
    width: 583px;
    height: 458px;
    top: -188px;
    background-color: #ffffff;;
    display: none;
    border: 1px solid #e0e0e0
}

.eam6 {
    position: absolute;
    left: 235px;
    width: 874px;
    height: 458px;
    top: -230px;
    background-color: #ffffff;;
    display: none;
    border: 1px solid #e0e0e0
}

.eam7 {
    position: absolute;
    left: 235px;
    width: 314px;
    height: 458px;
    top: -272px;
    background-color: #ffffff;;
    display: none;
    border: 1px solid #e0e0e0
}

.eam8 {
    position: absolute;
    left: 235px;
    width: 314px;
    height: 458px;
    top: -314px;
    background-color: #ffffff;;
    display: none;
    border: 1px solid #e0e0e0
}

.eam9 {
    position: absolute;
    left: 235px;
    width: 314px;
    height: 458px;
    top: -356px;
    background-color: #ffffff;;
    display: none;
    border: 1px solid #e0e0e0
}

.eam10 {
    position: absolute;
    left: 235px;
    width: 314px;
    height: 458px;
    top: -398px;
    background-color: #ffffff;;
    display: none;
    border: 1px solid #e0e0e0
}

.zzz1 {
    height: 40px;
    width: 275px;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    margin-top: 20px;
}

img {
    width: 40px;
    height: 40px;
    float: left;
    padding-left: 25px;
}

/*ul h2{position:absolute;text-align: center;padding-left: 60px;}*/
/*ul img{padding-left: 18px;}*/
.xxx1 {
    display: inline-block;
    float: left;
    padding-left: 0px;
    margin-top: 0px;
    color: #212121;
}

ul p {
    width: 50px;
    height: 25px;
    border: 1px solid red;
    float: right;
    margin-top: 6px;
}

p a {
    color: red;
    float: right;
    display: block;;
    margin-top: -8px;
    margin-right: 12px;
}

.zxz{}

/*.zas3{position:absolute;width:10px;height: 10px;background-color: #212121;right: 82px;border-radius:50%}*/
/*.zas4{position:absolute;width:10px;height: 10px;background-color: #212121;right: 49px;border-radius:50%}*/
/*.zas5{position:absolute;width:10px;height: 10px;background-color: #212121;right: 15px;border-radius:50%}*/
/*ul p{border:1px solid red;width:68px;height: 28px;display: inline }*/
/*li span{width:583px;height:460px;margin-left:206px;margin-top :0;display: inline-block;position: absolute;*/
/*top:0;display: none;*/

/*}*/
/*li span img{*/
/*width:583px;height:460px;*/

