body,div,ul,li,p,b,h3,a{margin:0px;padding:0px;}
body{font:12px/1.5 "微软雅黑";}
div{width:738px;height:382px;background-color:#47b0e0;}
img{vertical-align: top;}
.clear:after {
    display: block;
    content: "";
    clear: both;}
li a{position: relative}
ul{width: 235px;height:181px;background-color:#ffffff;padding:0 0 7px 7px;display: inline-block;list-style:none;}
.box1 img{width:215px;height:120px;padding-left: 7px;position: relative}
h3{position:absolute;bottom:0px;}























































