html{
    font-size: 100px;/**/
}
.cube,body,html{
    width: 100%;
    height:100%;
    overflow: hidden;
}
.cube{
    position: relative;
    background: url("../img/zf_cubeBg.jpg")no-repeat center center;
    background-size: cover;
    perspective: 1000px;
}
.cube .cubeBox{
    width: 5.1rem;
    height: 5.1rem;
    position: absolute;
    top:50%;
    left:50%;
    margin:-2.55rem 0 0 -2.55rem;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: scale(0.7) rotateX(-30deg) rotateY(45deg) ;

}

.cube .cubeBox li{
    position: absolute;
    width: 100%;
    height: 100%;
    top:50%;
    left:50%;
    margin:-2.55rem 0 0 -2.55rem;

}
.cube .cubeBox li img{
    width: 100%;
    height:100%;
}
.cube .cubeBox li:nth-child(1){
    -webkit-transform: translateZ(2.55rem);
    transform: translateZ(2.55rem);
}
.cube .cubeBox li:nth-child(2){
    -webkit-transform: translateZ(-2.55rem) rotateX(180deg);
    transform: translateZ(-2.55rem) rotateX(180deg);
}
.cube .cubeBox li:nth-child(3){
    -webkit-transform: translateX(-2.55rem) rotateY(90deg);
    transform: translateX(-2.55rem) rotateY(90deg);
}
.cube .cubeBox li:nth-child(4){
    -webkit-transform: translateX(2.55rem) rotateY(-90deg);
    transform: translateX(2.55rem) rotateY(-90deg);
}
.cube .cubeBox li:nth-child(5){
    -webkit-transform: translateY(-2.55rem) rotateX(90deg);
    transform: translateY(-2.55rem) rotateX(90deg);
}
.cube .cubeBox li:nth-child(6){
    -webkit-transform: translateY(2.55rem) rotateX(-90deg);
    transform: translateY(2.55rem) rotateX(-90deg);
}