*{
    margin: 0;
    padding:0;
    font-family: "Microsoft Yahei", Arial, SimSun;
}
ul,li{
    list-style: none;
}
.ul{
    padding: 10px;
}
.ul li{
    height: 70px;
    position: relative;
    border-bottom: 1px dashed #ccc;
    padding: 5px;
}
.ul li div:nth-child(1){
    width: 60px;
    height: 60px;
    position: absolute;
    background: url("images/default.jpg")no-repeat;
    background-size: 100% 100%;
}
.ul li div:nth-child(1) img{
    height: 100%;
    width:100%;
    border:none;
    display: none;
    opacity:0;
}
.ul li div:nth-child(2){
    margin-left: 75px;
    height: 70px;
}
.ul li div:nth-child(2) h2{
    font-size: 16px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ul li div:nth-child(2) p{
    font-size: 15px;
    line-height: 17px;
    height:34px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2

}







