*{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
.newsList{
    padding: 10px;
    font-family: "microsoft yahei";
}
.newsList li{
    height: 70px;
    position: relative;
    border-bottom: 1px dashed #ccc;/*transparent透明的*/
    padding-top: 5px;
}
.newsList li div:nth-child(1){
    position: absolute;
    width: 60px;
    height:60px;
    background: url(images/default.jpg)no-repeat;
    background-size: 100% 100%;
}
.newsList li div:nth-child(1) img{
    width: 100%;
    height:100%;
    border: none;
    vertical-align: top;
    display: none;/*刚开始图片不用显示，图片延迟加载之后并且*/
    opacity: 0;
}
.newsList li div:nth-child(2){
    height:60px;
    margin-left: 75px;/*把第一个盒子的位置让出来*/

}
.newsList li div:nth-child(2) h2{
    line-height: 20px;
    font-size: 16px;
    /*超出文本变省略号*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.newsList li div:nth-child(2) p{
    color: #999;
    font-size: 15px;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;

}










