body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p{
    margin: 0;
    padding: 0;
    /*去掉元素自带的margin和padding值*/
}
body{
    font-family: "Microsoft Yahei";
    font-size: 12px;
    /*所有元素继承body元素设置的字体大小和样式*/
}
ul,ol{
    list-style: none;
    /*去掉自带列表样式*/
}
h1,h2,h3,h4,h5,h6,b,strong{
    font-weight: normal;
    /*去掉自带加粗属性*/
}
img,input,select{
    /*都是特殊的行内元素 可以直接设置宽高*/
    border: none;
    /*去掉自带边框*/
    vertical-align: middle;
    /*改变垂直对齐方式*/
}
input{
    outline: none;
}
a{
    text-decoration: none;
    /*去掉自带下划线*/
}
i,em{
    font-style: normal;
    /*斜体扶正*/
}
.clear:after{
    display: block;
    content: "";
    clear: both;
}
.clear{
    zoom: 1;
    /*兼容ie7版本下的浏览器*/
}
.content{
    margin: 0 auto;
    width: 1230px;
}
.bannerTop{
    height: 80px;
    background: #57c7f9;
    text-align: center;
}
.headTop{
    border-bottom: 1px solid #eee;
    height: 32px;
    background: #f2f2f2;
    line-height: 32px;
    color: #999999;
}
.headTop a{
    color: #999;
}
.headTop a:hover{
    color: #c40000;
}
.headTop .left,.headTop .left li{
    float: left;
}
.headTop .left li{
    margin-right: 20px;
}
.headTop .right{
    float: right;
}
.headTop .right>li{
    z-index: 2;
    position: relative;
    float: left;
}
.headTop .right>li>a{
    display: block;
    padding: 0 10px;
}
.headTop .right .btn{
    display: inline-block;
    border:3px solid;
    border-color:#bbb transparent transparent transparent;
}
.headTop .right .icon{
    display: inline-block;
    margin-right: 4px;
    width: 12px;
    height: 14px;
    vertical-align: middle;
    /*background-image: url("../images/tianmao.png");
    background-repeat: no-repeat;*/
    background: url("../images/tianmao.png") no-repeat;
}
.headTop .right .icon1{
    background-position: -12px 0;
}
.headTop .right .icon2{
    background-position: -24px 0;
}

.headTop .right .icon3{
    background-position: -36px 0;
}

.headTop .right .icon4{
    background-position: -48px 0;
}
.headTop .myTb .hidden{
    display: none;
    position: absolute;
    border:1px solid #eee;
    top: 31px;
    padding: 10px;
    width: 74px;
    line-height: 18px;
    background: #fff;
}
.headTop .myTb .w62{
    width: 62px;
}
.myTb:hover .btn{
    transition: transform 0.4s ease-in;
    transform: rotate(180deg);
    transform-origin: 50% 20%;
}
.headTop .myTb .myTba{
    position: relative;
    z-index: 1;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.headTop .myTb:hover .myTba{
    border-left-color: #eee;
    border-right-color: #eee;
    background: #fff;
    color:#c40000;
}
.headTop .myTb a:hover{
    text-decoration: underline;
}
.headTop .myTb:hover .hidden{
    display: block;
}
.headTop .myTb:hover .btn{

}
.headTop .line{padding: 0 5px;}
.headTop .myTb .w142{
    padding: 10px 0;
    width: 142px;
}
.headTop .myTb .w142 p strong{
    display: block;
    padding-left: 10px;
    font-weight: 900;
    line-height: 14px;
    color: #6c6c6c;
}
.headTop .myTb .w142 p a{
    padding: 0 10px;
    line-height: 22px;
    color: #6c6c6c;
}
.headTop .myTb .w142 p a:hover{
    color: #c40000;
}
.headTop .myTb .w142 .line{
    display: block;
    margin: 5px 10px;
    /*margin: 0 auto;
    width: ;*/
    border-bottom: 1px dotted #827777;
}

.headTop .myTb .navHidden{
    left: auto;
    right: 0;
    width: 1200px;
}
.navHidden .over{
    float: left;
    border-right: 1px solid #eee;
    padding-left: 30px;
    width: 275px;
}
.navHidden dt{
    padding-left: 10px;
    line-height: 25px;
    font-size: 16px;
    color: #f9a565;
}
.navHidden dl{
    margin-left: -10px;
}
.navHidden dd{
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 85px;
    line-height: 20px;
}
.navHidden dd a{color: #666;}
.navHidden dd a:hover{text-decoration: underline;}
.navHidden dd em{
    position: absolute;
    top: -2px;
    width: 9px;
    height: 10px;
    background: url("../images/tianmao_1.png") no-repeat;
    background-position: -37px 0;
}
.navHidden dd .new{
    background-position: -37px -11px;
}




.header{
    height: 130px;
}
.header .logo{
    position: relative;
    left: -45px;
    float: left;
    width: 317px;
}
.header .ser{
    float: left;
    margin-top: 38px;
}
.header input[type=text]{
    float: left;
    border:2px solid #c40000;
    padding: 0 8px;
    width: 475px;
    height: 36px;
}
.header input[type=button]{
    float: left;
    width: 130px;
    height: 40px;
    background: #c40000;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}
.header .subList{
    line-height: 30px;
    font-size: 14px;
}
.header .subList a{
    color: #999;
}
.header .subList .red{
    color: #c40000;
}
.header .subList span{
    padding: 0 12px;
    color: #ccc;
}

.nav{
    height: 36px;
    background: #dd2727;
    line-height: 36px;
}
.navList li{
    position: relative;
    float: left;
    padding: 0 15px;
    height: 36px;
    font-size: 16px;
}
.navList .classify{
    padding-right: 0;
    width: 185px;
    background: #c60a0a;
    font-weight: 900;
    color: #fff;
}
.navList .classify .btn{
    display: inline-block;
    margin-right: 14px;
    width: 15px;
    height: 16px;
    background: url("../images/tianmao.png") no-repeat;
    background-position: 0 -128px;
    vertical-align: middle;
}
.navList li img{
    width: 90px;
    height: 36px;
}
.navList li a{
    position: relative;
    z-index: 1;
    color: #fff;
}
/*.navList li:hover{
    background: url("../images/maotou.png") no-repeat;
    background-position: 0 -36px;
}*/
.navList .bg{
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -20px;/*宽度的一半*/
    overflow: hidden;
    width: 40px;
    height: 22px;

}
.navList .bg img{
    width: 40px;
    height: 20px;
    /*当图片只给宽高其中一个值的时候，另一个值就会成比例的进行缩放*/
}
.navList li:hover .bg{
    top: -22px;
    transition: top 0.5s;
    /*transition 如果放在hover选择器后面 只有移入的效果 没有移出的效果 如果放在原始元素选择器上 既有移入的效果 又有移出的效果*/
}

.banner{
    position: relative;
    height: 500px;
}
.banImg{
    width: 100%;
    position: absolute;
    z-index: 0;
}
.banImg a{
    display: none;
    background: #2175f1;
    text-align: center;
}
.banImg .show{
    display: block;
}
.banner .con{
    position: relative;
    z-index: 1;
    height: 500px;
}
.classifyList{
    position: relative;
    float: left;
    width: 200px;
    height: 500px;
    background: #eee;
    background: rgba(238,238,238,.95);
}
.classifyList>li{
    height: 31px;
    line-height: 31px;
    color: #000;
    font-size: 14px;
}
.classifyList .btn{
    display: inline-block;
    margin: 0 7px 0 14px;
    width: 17px;
    height: 17px;
    background: url("../images/list_bg.png") no-repeat;
    vertical-align: middle;
}
.classifyList .btn2{
    background-position: 0 -30px;
}
.classifyList .btn3{
    background-position: 0 -62px;
}
.classifyList .btn4{
    background-position: 0 -92px;
}
.classifyList .btn5{
    background-position: 0 -122px;
}
.classifyList .btn6{
    background-position: 0 -152px;
}
.classifyList .btn7{
    background-position: 0 -182px;
}
.classifyList .btn8{
    background-position: 0 -212px;
}
.classifyList .btn9{
    background-position: left 0 bottom -214px;
}
.classifyList .btn10{
    background-position: left 0 bottom -184px;
}
.classifyList .btn11{
    background-position: left 0 bottom -154px;
}
.classifyList .btn12{
    background-position: left 0 bottom -124px;
}
.classifyList .btn13{
    background-position: left 0 bottom -94px;
}
.classifyList .btn14{
    background-position: left 0 bottom -64px;
}
.classifyList .btn15{
    background-position: left 0 bottom -34px;
}
.classifyList .btn16{
    background-position: left 0 bottom -3px;
}
.classifyList a{
    color: #000;
}
.classifyList li:hover{
    background: #fff;
}
.classifyList li:hover>a{
    font-weight: 900;
}
.classifyList .classify{
    display: none;
    position: absolute;
    top:0;
    left: 200px;
    width: 853px;
    height: 500px;
    background: #fafafa;
}
.classifyList .classify .left{
    float: left;
    padding: 20px 30px 0;
    width: 585px;
    height: 480px;
    background: #fff;
}
.classifyList .classify .left dl{
    margin-bottom: 10px;
    line-height: 22px;
}
.classifyList .classify .left dt{
    position: relative;
    float: left;
    margin-right: 20px;
    width: 70px;
    font-weight: 900;
}
.classifyList .classify .left .icon{
    position: absolute;
    right: 0;
    top: 7px;
    border: 5px solid;
    border-color: transparent transparent transparent #000;
}
.classifyList .classify .left .iconT{
    right: 1px;
    border-left-color: #fff;
}
.classifyList .classify dd{
    float: left;
    border-bottom: 1px dashed #e6e6e6;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 473px;
}
.classifyList .classify dd a{
    padding-left: 13px;
    color: #666;
}
.classifyList .classify dd a:hover{
    color: #427def;
    font-weight: normal;
}
.classifyList li:hover .classify{
    display: block;
}

.inBtn{
    position: absolute;
    bottom: 20px;
    /*width: 180px;
    left: 50%;
    margin-left: -90px;*/
    width: 100%;
    text-align: center;

}
.inBtn li{
    /*float: left;*/
    display: inline-block;
    cursor: pointer;
    margin: 0 8px;
    border: 2px solid #000;
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 50%;
    opacity: 0.3;
}
.inBtn li:hover{
    background: #fff;
}
.bodyBg{
    background: #f5f5f5;
}
.playList{
    padding-top: 30px;
}
.playList .left{
    float: left;
    width: 488px;
    background: #050505;
}
.playList .video{
    margin-bottom: 9px;
    overflow: hidden;
    height: 275px;
}
.playList .video img{
    width: 488px;
    height: 275px;
}
.playList .video li{
    display: none;
    position: relative;
}
.playList .video .on{
    display: block;
}
.playList .video .hb{
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 25px;
    width: 50px;
    height: 20px;
    background: rgba(0,0,0,.5);
    text-align: center;
    line-height: 20px;
    color: #fff;
}
.playList .video .hb b{
    display: inline-block;
    margin-right: 2px;
    width: 8px;
    height: 8px;
    background: #fe4672;
    border-radius: 50%;
}
.playList .video .play{
   /* position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -28px;
    margin-left: -34px;*/
    display: block;
    margin: -175px auto 40px;
    width: 68px;
    height: 56px;

}
.playList .video p{
    font-size: 22px;
    color: #fff;
    text-align: center;
}
.playList .video .play img{
    width: 68px;
    height: 56px;
}

.videoList{
    position: relative;
    overflow: hidden;
    width: 488px;
    height: 90px;
}
.videoList .btn{
    position: absolute;
    width: 17px;
    height: 90px;
}
.videoList .btnL{
    left: 0;
}
.videoList .btnR{
    right: 0;
}
.videoList ul{
    width: 1000px;
}
.videoList li{
    position: relative;
    float: left;
    margin-right: 4px;
    width: 160px;
    height: 90px;
    background: url("../images/yyyyy.png") no-repeat;
}
.videoList .title{
    position: relative;
    z-index: 1;
    margin-top: 65px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.bg{
    display: none;
    position: absolute;
    top: 0;
    width: 160px;
    height: 90px;
    background: rgba(0,0,0,.5);
    text-align: center;
}
.bg img{
    margin-top: 30px;
    width: 36px;
    height: 30px;
}
.videoList li:hover .bg{
    display: block;
}
.live{
    padding: 14px 0 0 20px;
    width: 468px;
    height: 48px;
}
.live img{
    float: left;
}
.live p{
    float: left;
    margin-left: 10px;
    line-height: 20px;
    color: #fff;
}
.live p span{
    display: block;
    color: #fd4889;
}

.playList .right{
    float: right;
    width: 732px;
}
.playList .right li{
    position: relative;
    float: left;
    margin: 0 0 1px 1px;
    width: 121px;
    height: 108px;
}
.playList .right .hidden{
    /*display: none;*/
    position: absolute;
    top: 0;
    width: 121px;
    height: 108px;
    background: rgba(0,0,0,.8);
    opacity: 0;
}
.playList .right .btn{
    position: absolute;
    top: 14px;
    right: 12px;
    width: 13px;
    height: 11px;
    background: url("../images/tianmao.png") no-repeat;
    background-position: -55px -73px;
}
.playList .right p{
    margin: 38px 0 8px;
    color: #ffffff;
    text-align: center;
}
.playList .right .btnIn{
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    width: 63px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    background: #ff0000;
}
.playList .right li:hover .hidden{
    /*display: block;*/
    opacity: 1;
    transition: 0.4s;
}
/*.subNav{
    margin-top: 30px;
    overflow: hidden;
}
.subNav ul{
    width: 1240px;
}*/
.subNav{
    margin-top: 30px;
}
.subNav ul{
    width: 1240px;
    margin-left: -10px;
}
.subNav li{
    float: left;
    /*margin-right: 10px;*/
    margin-left: 10px;
    width: 238px;
    height: 477px;
    background: #fff;
}
.subNav h3{
    height: 36px;
    background: #dd2727;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    color: #fff;
    font-weight: 900;
}
.subNav h3 .icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url("../images/tianmao.png") no-repeat;
}
.subNav h3 .icon1{
    background-position: left 0 bottom 0;
}
.subNav h3 .icon2{
    background-position: left -21px bottom 0;
}
.subNav h3 .icon3{
    background-position: left -40px bottom 0;
}
.subNav h3 .icon4{
    background-position: left -61px bottom 0;
}
.subNav h3 .icon5{
    background-position: left -82px bottom 0;
}
.subNav .list{
    padding-top: 19px;
    text-align: center;
}
.subNav .list h4{
    line-height: 27px;
    font-size: 22px;
    color: #000;
}
.subNav .list .text{
    line-height: 20px;
    color: #888888;
}
.subNav .list .img{
    margin: 5px auto 0;
    height: 140px;
    width: 140px;
    background: #c0c0c0;
    border-radius:50%;
}
.subNav .list .img img{
    width: 133px;
    height: 133px;
}
.subNav .line{
    margin: 9px auto 0;
    width: 200px;
    height: 1px;
    background: #eee;
}
.subNav .list:hover img{
    margin-top: -3px;
    width: 140px;
    height: 140px;
    transition: 0.3s;
}







