@color-blue:#1c90f2;
@color-white:#fff;
@color-555:#555;
@color-red:#f82d2d;

.transition(@property :all,@duration: 1s,@time-function: linear,@delay: 0s){
  -webkit-transition: @arguments;
  transition: @arguments;
}