*{
    margin:0;
    padding:0;
}
.div1{
    width: 1000px;
    height:300px;
    margin:50px auto;
    position:relative;
    background: url("../images/default.gif")no-repeat center #6c6c6c;
}
.div1 .div2 div{
    width: 1000px;
    height:300px;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
}
.div1 .div2 div img{
    width: 100%;
    height: 100%;
    display: none;
    border:none;

}
.div1 .ul1{
    width: 100px;
    height: 20px;
    position: absolute;
    right:20px;
    bottom:20px;
    z-index: 10;
    list-style: none;
}
.div1 .ul1 li{
    display: block;
    width:18px;
    height:18px;
    border-radius: 50%;
    float: left;
    background-color: #fff;
    border:2px solid #000;
    margin-right: 2px;
}
.div1 .ul1 li.selected{
    background-color: red;
}
.left,.right{
    width: 30px;
    height:40px;
    background: url("../images/pre.png")no-repeat;
    position: absolute;
    top:50%;
    margin-top: -20px;
    z-index: 10;
    display: none;
}
.right{
    right: 0;
    background-position: -48px 0;
}