body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table, hr, main, form {
    margin: 0;
    padding: 0;
}

body {
    font: 12px 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 500;
}

i, em {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    vertical-align: middle;
    border: none;
}

img, input, select, textarea {
    vertical-align: middle;
    outline: none;
}

a {
    text-decoration: none;
    color: #333;
}

.clear {
    zoom: 1;
}

.clear:after {
    display: block;
    content: "";
    clear: both;
}
.box{
    margin: 0 auto;
    width: 1000px;
    height: 100px;
    background-color: #ccc;
}
.box .list{
    float: left;
    margin: 0 10px;
    line-height: 100px;
    cursor: pointer;
}
.box .list:hover{
    color: #ff6700;
}
.hidden{
    position: absolute;
    left: 0;
    /*opacity: 0;*/
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: red;
    transition: 0.3s;
}
.nav:hover .hidden{
    height: 300px;
    /*opacity: 1;*/
}






